<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="angularjs-datetime-picker.css" />
  <script src="bower_components/angular/angular.js"></script>
  <script src="angularjs-datetime-picker.js"></script>
  <script>
    angular.module('myApp',['angularjs-datetime-picker']);
    angular.module('myApp').run(function($rootScope) {
      $rootScope.gmtDate = new Date('2015-01-01 00:00:00 -00:00');
    });
  </script>
</head>
<body ng-app="myApp" ng-init="
  date1='01-01-2015 00:00:00';
  date2='Thu Jan 01 2015 00:00:00 GMT-0500 (EST)';
  date3='2015-01-01T00:00:00-0400';
  date4='2015-01-01';">
  <h1>Datetime Picker</h1>

  &lt;input ng-model="date4" datetime-picker date-only /> <br/>
  <input ng-model="date1" datetime-picker date-only size="30" /> <br/> <br/>

  &lt;input ng-model="date2" datetime-picker date-format="yyyy-MM-dd" date-only /> <br/>
  <input ng-model="date2" datetime-picker date-format="yyyy-MM-dd" size="30"  date-only /> <br/> <br/> <br/>

  &lt;input ng-model="date3" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" close-on-select="false" /> <br/>
  <input ng-model="date3" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" close-on-select="false" size="30" /> <br/> <br/>

  &lt;input ng-model="date4" datetime-picker hour="23" minute='59'/><br/>
  <input ng-model="date4" datetime-picker hour="23" minute='59' size="30" /> <br/> <br/>

  gmtDate : {{gmtDate}}<br/>
  &lt;input type="date" ng-model="gmtDate" size="30" /><br/>
  <input type="date" ng-model="gmtDate" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" size="30" />

  <div style="position:fixed; bottom:0">
    &lt;input ng-model="date5" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" year="2014" month="12" day="31" hour="23" minute="59" /><br/>
    <input ng-model="date5" datetime-picker date-format="yyyy-MM-dd HH:mm:ss"  size="30" year="2014" month="12" day="31" hour="23" minute="59" /> <br/> <br/>
  </div>

</body>
</html>
